@import "tailwindcss";

@theme {
  --color-primary: #003057;
  --color-primary-light: #004C8C;
  --color-primary-dark: #001A33;

  --color-secondary: #C69214;
  --color-secondary-light: #E6B02E;
  --color-secondary-dark: #946C0D;

  --color-accent: #00A99D;
  --color-accent-light: #33C2B8;
  --color-accent-dark: #007A70;

  --color-surface: #F3F4F6;
  --color-surface-paper: #FFFFFF;

  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}